* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: #d9d9d9;
}

.nav-link {
    color: white !important;
    font-size: 21px !important;
    font-weight: 700;
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: 700;
}

header {
    background-color: #34C759 !important;
    color: white !important;
    border-bottom: 9px solid #42e86c ;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.navbar-nav {
    margin-bottom: 5px
}

.navbar-toggler {
    border: 5px solid #40ff70;
    background-color: #3cd863;
}

.html {
    background-color: rgb(244, 244, 244);
}

.homedesk-text {
    margin: 10px;
}

.boards-div {
    background-color: #34C759 !important;
    color: white !important;
    border: 6px solid #42e86c ;
    border-radius: 14px;
    margin: 20px;
    width: 330px;
    height: 550px;
}

.login-reg-div {
    background-color: #efefef !important;
    color: rgb(0, 0, 0) !important;
    border: 6px solid #dfdfdf ;
    border-radius: 14px;
    margin: 20px;
    width: 450px;
    height: 650px;
}

.input {
    background-color: #e2e2e2 !important;
    color: rgb(0, 0, 0) !important;
    border: 6px solid #c8c8c8 ;
    border-radius: 14px;
    width: 190px;
    height: 45px;
    padding: 5px;
}

.des-input {
    background-color: #e2e2e2 !important;
    color: rgb(0, 0, 0) !important;
    border: 6px solid #c8c8c8 ;
    border-radius: 14px;
    width: 220px;
    height: 100px;
    padding: 5px;
    resize: none;
}


input[type=submit] {
    background-color: #e2e2e2 !important;
    color: rgb(0, 0, 0) !important;
    border: 6px solid #c8c8c8 ;
    border-radius: 14px;
    width: 190px;
    height: 45px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white !important;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.label-margin {
    margin: 5px;
}

.double-label-margin {
    margin: 10px;
}

.post-div {
    background-color: #efefef !important;
    color: rgb(0, 0, 0) !important;
    border: 6px solid #dfdfdf ;
    border-radius: 25px;
    padding: 7px;
    transform: scale(0.9);
}