{% extends "./blocks/base.html" %}

{% block title %}
Nexus - вход
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <form class="col-md-auto login-reg-div" method="post">
        <br>
        <h1 class="d-flex justify-content-center">Войти</h1>
        <br>
        <h3 class="label-margin">Имя:</h3>
        <input type="text" name="loginName" id="loginName" class="input" required>
        <br>
        <br>
        <h3 class="label-margin">Пароль:</h3>
        <input type="text" name="loginPassword" id="loginPassword" class="input" required>
        <br>
        <br>
        <br>
        <input type="submit" name="loginSubmit" id="subminLogin" class="input" value="ОТПРАВИТЬ" style="font-weight: bolder;">
        <br>
        <br>
        <p style="opacity: 50%;">Нет аккаунта? - <a href="/register" style="color: black !important;">Зарегестрируйся!</a></p>
    </form>
</div>
{% endblock %}