{% extends "./blocks/base.html" %}

{% block title %}
Nexus - регистрация
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <form class="col-md-auto login-reg-div" method="post">
        <br>
        <h1 class="d-flex justify-content-center">Создать <br> аккаунт</h1>
        <br>
        <h3 class="label-margin">Имя:</h3>
        <input type="text" name="regName" id="regName" class="input" required>
        <br>
        <br>
        <h3 class="label-margin">Пароль:</h3>
        <input type="text" name="regPassword" id="regPassword" class="input" required>
        <br>
        <br>
        <h3 class="label-margin">Повторите пароль:</h3>
        <input type="text" name="passRepeat" id="passRepeat" class="input" required>
        <br>
        <br>
        <br>
        <input type="submit" name="regSubmit" id="subminReg" class="input" value="ОТПРАВИТЬ" style="font-weight: bolder;">
    </form>
</div>
{% endblock %}