{% extends "./blocks/base-log.html" %}

{% block title %}
Nexus - страница пользователя
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center">
    <form class="col-md-auto login-reg-div" method="post">
        <br>
        <h1 class="d-flex justify-content-center">Ваш аккаунт</h1>
        <br>
        <h3 class="label-margin">Имя:</h3>
        <input type="text" name="userName" id="userName" class="input" value="{{u.login}}" required>
        <br>
        <br>
        <h3 class="label-margin">Описание:</h3>
        <textarea type="text" name="userDes" id="userDes" class="input des-input">{{u.description}}</textarea>
        <br>
        <br>
        <br>
        <input type="submit" name="subminUser" id="subminUser" class="input" value="ИЗМЕНИТЬ" style="font-weight: bolder;">
    </form>
</div>
{% endblock %}